<!DOCTYPE html>
<html lang='en'>
    <head>
        <%- include('../../../partials/head'); %>
        <link rel="stylesheet" type="text/css" href="/css/pages/malody/index.css">
    </head>
    <body>
        <%- include('../../../partials/navigation'); %>
        <h1 id="title"><%= currpage %></h1>
        <% if (addata) { %>
            <%- include('../../../partials/addata'); %>
        <% } %>
        <div class="tiles">
            <% for (let page in pages) { %>
                <a class="tile" href='<%= pages[page].link %>'><%= pages[page].name %></a>
            <% } %>
    </body>
</html>