<!-- TODO format json -->
<!DOCTYPE html>
<html lang='en'>
    <head>
        <%- include('../../../partials/head'); %>
        <link rel="stylesheet" type="text/css" href="/css/pages/osu/index.css">
        <link rel="stylesheet" type="text/css" href="/css/pages/osu/rankings.css">
    </head>
    <body>
        <%- include('../../../partials/navigation'); %>
        <h1 id="title"><%= currpage %></h1>
        <form action='#' method='POST'>
            <input id='fmethod' type='hidden' name='method' value='sort'>
            <label for='forder' id='fpstyle'>Order by</label>
            <select if='forder' name='order'>
                <% for (let key in keys) { %>
                    <% if (keys[key].Field != 'link') { %>
                        <option value='<%= keys[key].Field %>' <% if (order == keys[key].Field) { %>selected<% } %>><%= keys[key].Field %></option>
                    <% } %>
                <% } %>
            </select>
            <select if='fascdesc' name='ascdesc'>
                <option value="ASC" <% if (ascdesc == "ASC") { %>selected<% } %>>Ascending</option>
                <option value="DESC" <% if (ascdesc == "DESC") { %>selected<% } %>>Descending</option>
            </select>
            <input type='submit' value='Submit Data'>
        </form>
        <form action='#' method='POST' class='name'>
            <input id='fmethod' type='hidden' name='method' value='search'>
            <label for='fsearch' id='fpstyle'>Search User</label>
            <input if='fsearch' name='search' type='text'>
            <input type='submit' value='Search'>
        </form>
        <table border='2'>
            <thead>
                <% for (let key in keys) { %>
                    <% if (keys[key].Field != 'link') { %>
                        <th><%= keys[key].Field %></th>
                    <% } %>
                <% } %>
            </thead>
            <tbody id="tableBody">
                <% for (let data in datas) { %>
                    <tr>
                    <% for (let k = 0; k < keys.length; k++) { %>
                        <% if (keys[k].Field == 'user_username') { %>
                            <td><a href='https://osu.ppy.sh/users/<%= datas[data][keys[k-1].Field] %>/fruits'><%= datas[data][keys[k].Field] %></a></td>
                        <% } else { %>
                            <td><%= datas[data][keys[k].Field] %></td>
                        <% } %>
                    <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div id='moredata'><a id='moredatalink' onclick="getMoreData();">Get More</a></div>
        <script>
            window.onload = (() => {
                if (localStorage.getItem("page")) {
                    localStorage.removeItem("page");
                }
            });

            let getMoreData = (() => {
                if (!localStorage.getItem("page")) {
                    localStorage.setItem("page", 0);
                }
                localStorage.setItem("page", Number(localStorage.getItem("page")) + 1);

                let request = new XMLHttpRequest();
                request.onreadystatechange = (() => {
                    if (request.readyState == 4 && request.status == 200) {
                        reqresponse = JSON.parse(request.responseText)["datas"];
                        if (reqresponse.length != 0) {
                            let addedHtml = "";
                            for (let reqres in reqresponse) {
                                addedHtml += "<tr>";
                                for (let r in reqresponse[reqres]) {
                                    if (r == "user_username") {
                                        addedHtml += "<td><a href='https://osu.ppy.sh/users/" + reqresponse[reqres][r-1] + "'>" + reqresponse[reqres][r] + "</a></td>";
                                    } else {
                                        addedHtml += "<td>" + reqresponse[reqres][r] + "</td>"
                                    }
                                }
                                addedHtml += "</tr>";
                            }
                            document.getElementById("tableBody").innerHTML += addedHtml;
                        } else {
                            document.getElementById("moredata").remove();
                        }
                    }
                });
                request.open("POST", window.location.pathname, true);
                request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                request.send("method=more&order=<% if (!order) { %>name<% } else { %><%= order %><% } %>&ascdesc=<% if (!ascdesc) { %>ASC<% } else { %><%= ascdesc %><% } %>&page=" + localStorage.getItem("page"));
            });
        </script>
    </body>
</html>